.active{
	margin-left: 15px;
	    color: rgb(253, 170, 12) !important;
	background:rgba(253, 170, 12, 0.1);
}

.form-horizontal .control-group {
    margin-bottom: 20px;
}

.control-group {
    margin-bottom: 10px;
}

.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}

label{
    display: block;
    margin-bottom: 5px;
        color: #000;
    margin-top: 5px;
}

.lbl_log{
	color:#fff;
}

.form-horizontal .controls {
    margin-left: 180px;
}

.input-append, .input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    /*white-space: nowrap;
    margin-left: 20%;*/
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.input-prepend .add-on, .input-prepend .btn {
    margin-right: -1px;
}

.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn {
    vertical-align: top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    width: 30px;
    height: 25px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #eeeeee;
    border: 1px solid #ccc;
}

@media (min-width: 1200px)
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 156px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: rgba(255,255,255, 0.6);
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    /* height: 20px; */
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 89.7%;
    height: 35px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.mlogin{    
	width: 100%;
    min-height: 500px;
}

.mregister{
        width: 100%;
    min-height: 500px;
    background: url(../img/bg.png) repeat;
    min-height: 870px;
}

#login{
    width: 40%;
    margin: 0 auto;
    padding-top: 50px;
    /* min-height: 100%; */
}

#loginform{
    width: 400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 100px;
    background: rgba(253, 183, 51, 0.25);
    border-radius: 8px;
}

#registerform{
        width: 400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 100px;
    background: rgba(253, 183, 51, 0.25);
    border-radius: 8px;
}

.new_user{
	width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.new_user p{
	font-size: 12px;
	color: #9b9999;
}

.new_user a{
	color: #23b9c0;
	text-decoration: none;
	transition: 500ms;
}
.new_user a:hover{
	color: #1b9296;
	text-decoration: none;
	border-bottom: 1px dotted #1b9296;
	transition: 500ms;
}

.logo_log{
    width: 100%;
    background: url(../img/logo.png) no-repeat;
    background-position: center center;
    background-size: 40%;
    height: 60px;
}

.regtext{
	color: #fff;
}

.button{
	    padding: 10px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    border: none;
    height: 45px;
    background:rgba(253, 183, 51, 0.6);
    color:#fff;
    font-size: 20px;
}

.button:hover{
	cursor: pointer;
	background:rgba(253, 183, 51, 1);
}

.log_invalid{
	text-align: center;
	padding: 20px;
	color:#ef282c;
	transition: 600ms;
}

.right_column{
    height: 100%;
    float: left;
    padding-left: 20px;
    width: 450px;
}

.table-depos{
/*border: 1px solid rgba(35, 185, 192, 0.4);
    border-radius: 2px;*/
    font-size: 13px;
    border-collapse: collapse;
    /* max-width: 300px; */
    position: relative;
    width: 100%;
    height: 20%;
    table-layout: fixed;
}

.table-depos th{
	background: rgba(253, 174, 23, 0.4);
    padding: 20px;
	text-align: center;

}

.table-depos td{
    padding: 12px;
	text-align: center;
}

.table-depos tr:nth-child(odd){
    background: rgba(201, 199, 199, 0.3)
}


.btn_save{
	padding: 10px;
    margin: auto;
    border-radius: 5px;
    border: none;
    height: 45px;
    background:rgba(35, 185, 192, 0.4);
    color:#fff;
    font-size: 20px;
}

.btn_save:hover{
	cursor: pointer;
	background:rgba(30, 166, 170, 0.7)
}


.logo-py {
width: 150px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 180px;
    color: #484c49;
    background: url(../img/py.png) left center no-repeat;
    min-height: 63px;
    float: left;
}

.btn-full {
    display: block;
    width: 100%;
    height: 38px;
    font-size: 12px;
    line-height: 38px;
    color: #fff;
    margin-top: 12px;
    text-decoration: none;
    text-align: center;
    background: #008820;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.btn-full:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: #23b9c0;
    border: 1px solid #23b9c0;
}

.btn-full-active {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: #23b9c0;
    border: 1px solid #23b9c0;
}

.ps-selct .btn-full:hover, .ps-selct .btn-full.active {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background: #23b9c0;
    border: 1px solid #23b9c0;
}

.new_depos{
padding: 10px 22px;
    border-bottom: 1px solid #d0d0d0;
    width: 336px;
    margin-left: -10px;
    float: left;
}

.ym_logo{
width: 150px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 180px;
    color: #484c49;
    background: url(../img/yad.png) left center no-repeat;
    min-height: 63px;
}

.wm_logo{
width: 150px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 180px;
    color: #484c49;
    background: url(../img/wm.png) left center no-repeat;
    min-height: 63px;
}

.qw_logo{
width: 150px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 180px;
    color: #484c49;
    background: url(../img/qw.png) left center no-repeat;
    min-height: 63px;
}

.pm_logo{
width: 150px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 180px;
    color: #484c49;
    background: url(../img/pm.png) left center no-repeat;
    background-size: 30%;
    min-height: 63px;
}

.new_depos-active{
    color:rgb(35, 185, 192);
    background:rgba(35, 185, 192, 0.4);
}

.content{
    height: 100%;
    float: left;
    width: 860px;
}

.content h2{
	border-bottom: 1px solid #fda600;
}

.bb-box{
	border-bottom: 1px solid #fda600;
    padding: 20px;
        padding-bottom: 10px;
        float: left;
}

.title-bb{
float: left;
    width: 100%;
font-size: 15px;
    color: #474747;
    line-height: 17px;
    	padding: 10px;
}

.ri-bb{
	float:left;
	width: 100px;
}

.ri-bbb{
	float:left;
	width: 100px;
}

.ri-bb span {
    display: block;
    height: 74px;
    background: url(../img/ic2.png) center center no-repeat;
}

.ri-bbb span {
    display: block;
    height: 74px;
    background: url(../img/ic3.png) center center no-repeat;
}

.bal-bb{
    width: 170px;
    font-size: 38px;
    color: #000000;
    line-height: 52px;
    height: auto;
    float: right;
    text-align: right;
}

.bal-bb span {
    font-size: 14px;
    line-height: 0px;
    text-transform: lowercase;
    color: #23b9c0;
    font-weight: normal;
}

.now-perc {
    height: 40px;
    border-bottom: 1px solid #fda600;
    color: #3f4542;
	font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 15px;
}

.now-perc span {
    font-size: 18px;
    float: right;
    color: #3b6c88;
    font-weight: 500;
}

.dperc {
    width: 110px;
    height: 110px;
    float: left;
    margin: 15px;
    color: #fdaa0c;
    font-size: 34px;
    font-weight: 400;
    /* background: #70c67b; */
    border: 4px solid #fdaa0c;
    border-radius: 50%;
    line-height: 103px;
    text-align: center;
}

.dep-inner-sp{
	font-size: 58px;
	color:#fdaa0c;
	text-align: center;
}

.pay-sys {
	width: 200px;
    height: 20px;
    width: 200px;
    float: right;
    text-align: center;
    color: #23b9c0;
    font-size: 46px;
    font-weight: 400;
        background: url(../img/yad.png) center top no-repeat;
    margin-top: 30px;
    padding-top: 31px;
}

.invite-friend{
	width: 100%;
	height: auto;
}

.ref-title{
	text-align: center;
    margin: 20px auto;
    padding-top: 80px;
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background: url(../img/refs-top2.png) center top no-repeat;
}

.text-inv {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 30px;
    background: url(../img/inv-bg.png) center bottom no-repeat;
}

.invb-col.inv1.active {
    background: url(../img/ref14.png) center top no-repeat;
            width: 100%;
}


.invb-col.inv1 {
    margin-left: 26px;
}

.invb-col.active {
    font-weight: 400;
    color: #000;
    margin-left: 0;
}

.invb-col {
    float: left;
    width: 444px;
    padding-top: 64px;
    background: url(../img/ref-middle15.png) center top no-repeat;
    margin-top: 40px;
    text-align: center;
    color: #a9aba9;
    font-size: 14px;
        width: 340px;
}

.invb-col.active .invb-title {
    color: #008820;
}

.invb-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 10px 0;
}

.ref-link{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: rgba(0, 136, 32, 0.3);
    font-size: 23px;
    color:#fff;
}

.ref-tr{
    padding-top: 30px;
    padding-bottom: 200px;
    width: 100%;
    float: left;
}

.stat{
    width: 100%;
    font-size: 17px;
}

.stat th{
    text-align: center;
    padding: 6px;
    color:#23b9c0;
    font-size: 19px;
}

.stat td{
    text-align: center;
    padding: 4px;
    font-weight: bold;
}

.val_usd{
    width: 47%;
    float: left;
}

.val_ru{
	width: 47%;
    float: right;
}

.btn-priv{
    text-decoration: none;
    background: rgba(253, 166, 0, 0.5) url(../img/ic1.png) center 6px no-repeat;
    color: #fff;
    font-size: 15px;
    padding-top: 28px;
    padding-bottom: 14px;
    position: absolute;
    text-align: center;
    width: 150px;
    border-radius: 5px;
}

.btn-obn{
    text-decoration: none;
    background: rgba(253, 166, 0, 0.5) url(../img/ic4.png) center 6px no-repeat;
    color: #fff;
    font-size: 15px;
    padding-top: 28px;
    padding-bottom: 14px;
    position: absolute;
    text-align: center;
    width: 150px;
    border-radius: 5px;
}

.btn-priv:hover{
	background: #d38f10 url(../img/ic1.png) center 6px no-repeat;
        color: #fff;
    text-decoration: none;
}
.btn-obn:hover{
	background: #d38f10 url(../img/ic4.png) center 6px no-repeat;
    color: #fff;
    text-decoration: none;
}

.ok_logo{
width: 150px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 180px;
    color: #484c49;
    background: url(../img/op.png) left center no-repeat;
    min-height: 63px;
  
}

.nx_logo{
width: 150px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 180px;
    color: #484c49;
    background: url(../img/nx.png) left center no-repeat;
    min-height: 63px;
    
}

.pz_logo{
width: 150px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 180px;
    color: #484c49;
    background: url(../img/pz.png) left center no-repeat;
    min-height: 63px;
   
}

.av_logo{
width: 150px;
    font-size: 12px;
    line-height: 14px;
    padding-left: 180px;
    color: #484c49;
    background: url(../img/adc.png) left center no-repeat;
    min-height: 63px;
    background-size: 50%;
}

